asgiref==3.8.1
chardet==5.2.0
Django==5.2
django-jazzmin==3.0.1
et_xmlfile==2.0.0
mysqlclient==2.2.7
openpyxl==3.1.5
pillow==11.1.0
python-decouple==3.8
python-dotenv==1.0.0
pytz==2025.2
reportlab==4.4.1
shortuuid==1.0.13
sqlparse==0.5.3
typing_extensions==4.13.2
