{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spendy -Expense Management Made Easy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'logo/Spendy_Icon_1.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/plugin/apexcharts.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/plugin/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/arafat-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/plugin/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">

</head>

<body>
    <!-- start preloader -->
    <!-- <div class="preloader" id="preloader"></div> -->
    <!-- end preloader -->

    <!-- Scroll To Top Start-->
    <a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->

    <!-- header-section start -->
    <header class="header-section body-collapse">
        <div class="overlay">
            <div class="container-fruid">
                <div class="row d-flex header-area">
                    <div class="navbar-area d-flex align-items-center justify-content-between">
                        <div class="sidebar-icon">
                            <img src="{% static 'assets1/images/icon/menu.png' %}" alt="icon">
                        </div>

                        <div class="dashboard-nav">
                           
                            <div class="single-item notifications-area">
                                <div class="notifications-btn">
                                    <a href="{% url 'wallet:notifications' %}"><img src="{% static 'assets1/images/icon/bell.png' %}" class="bell-icon" alt="icon"></a>
                                </div>
                                
                            </div>
                            <div class="single-item user-area">
                                <div class="profile-area d-flex align-items-center">
                                    <span class="user-profile">
                                        <!-- <img src="{% static 'assets1/images/avatar.png' %}" alt="User"> -->
                                      
                                            <img src="{% static 'assets1/images/default.jpg' %}"  style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" alt="">
                                      
                                    <!-- <img style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" src="{{ kyc.image.url }}" alt="image"> -->

                                    </span>
                                    <i class="fa-solid fa-sort-down"></i>
                                </div>
                                <div class="main-area user-content">
                           
                                    <ul>

                                  
                                        <li class="border-area">
                                            <a href="{% url 'wallet:kyc-reg' %}"><i class="fas fa-user"></i>Profile</a>
                                        </li>

                                        
                                        <li>
                                            <a href="{% url 'userauths:sign-out' %}"><i class="fas fa-sign-out"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-wrapper">
                        <div class="close-btn">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="sidebar-logo">
                            <a href="{% url 'wallet:dashboard' %}"><img src="{% static 'logo/Spendy_Spendy 1.png' %}" alt="logo"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="{% url 'wallet:dashboard' %}">
                                    <img src="{% static 'assets1/images/icon/dashboard.png' %}" alt="Dashboard"> <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'wallet:wallet' %}">
                                    <img src="{% static 'assets1/images/icon/pay.png' %}" alt="Transactions"> <span>Wallets</span>
                                </a>
                            </li>
                    
                            <li>
                                <a href="{% url 'wallet:expenses' %}">
                                    <img src="{% static 'assets1/images/icon/option.png' %}" alt="Dashboard"> <span>Expenses</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'wallet:transactions' %}">
                                    <img src="{% static 'assets1/images/icon/option.png' %}" alt="Dashboard"> <span>Transactions</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'expense:expense_approvals' %}">
                                    <img src="{% static 'assets1/images/icon/option.png' %}" alt="Transactions"> <span>Approvals</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'expense:list-items' %}">
                                    <img src="{% static 'assets1/images/icon/option.png' %}" alt="Transactions"> <span>Inventory</span>
                                </a>
                            </li>
                                                    <li>
                                <a href="{% url 'expense:suppliers' %}">
                                    <img src="{% static 'assets1/images/icon/option.png' %}" alt="Transactions"> <span>Suppliers</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'expense:reports' %}">
                                    <img src="{% static 'assets1/images/icon/transactions.png' %}" alt="Transactions"> <span>Analytics</span>
                                </a>
                            </li>                                 

                            <li>
                                <a href="{% url 'wallet:staff-list' %}">
                                    <img src="{% static 'assets1/images/icon/support.png' %}" alt="Transactions"> <span>Users</span>
                                </a>
                            </li>       
                        </ul>
                        <ul class="bottom-item">
                        <li class="border-area">
                            <a href="{% url 'wallet:staff-dashboard' %}">
                                <img src="{% static 'assets1/images/icon/dashboard.png' %}" alt="Support"> <span>My Account</span></a>
                        </li>
                            <li>
                                <a href="{% url 'wallet:settings_view' %}">
                                    <img src="{% static 'assets1/images/icon/exchange.png' %}" alt="Support"> <span>System Setup</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'userauths:sign-out' %}">
                                    <img src="{% static 'assets1/images/icon/quit.png' %}" alt="Quit"> <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- alert start -->
        
        {% if messages %}
            {% for m in messages %}
            <div class="alert alert-{{m.tags}}">
                <strong>{{m}}</strong>
            </div>
            {% endfor %}
        {% endif %}
        <script>
            setTimeout (() => {
                $(".alert").alert("close");
            }, 4000)
        </script>
        
        <!-- alert end -->
        

    </header>
    <!-- header-section end -->


{% block content %}
  
{% endblock content %}

    
    <!--==================================================================-->
    <script src="{% static 'assets1/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/js/jquery-ui.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/apexcharts.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/waypoint.min.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/wow.min.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/plugin.js' %}"></script>
    <script src="{% static 'assets1/js/main.js' %}"></script>
</body>

</html>