<div class="list-group">
    <a href="" class="list-group-item list-group-item-action">
      Dashboard
    </a>
    <a href="#" data-bs-toggle="modal" data-bs-target="#sendMoneyModal" class="list-group-item list-group-item-action">
      Send Money
    </a>
    <a href="#" data-bs-toggle="modal" data-bs-target="#payModal" class="list-group-item list-group-item-action">
      Pay
    </a>
    <a href="#" data-bs-toggle="modal" data-bs-target="#expenseModal" class="list-group-item list-group-item-action">
      New Expense
    </a>
    <a href="" class="list-group-item list-group-item-action">
      Transactions
    </a>
  </div>
  