{% extends "partials/dashboard-base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="dashboard-section body-collapse">
    <div class="overlay pt-120">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h4 class="mb-4">Notifications</h4>

                        {% for alert in alerts %}
                        <div class="alert alert-{{ alert.alert_type }} alert-dismissible fade show" role="alert">
                            <strong>{{ alert.title }}</strong> {{ alert.message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% empty %}
                        <p>No notifications yet.</p>
                        {% endfor %}

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
