{% extends "partials/dashboard-base.html" %}
{% load static %}
{% block content %}
    <!-- Dashboard Section start -->
<section class="dashboard-section body-collapse account">
    <div class="overlay pt-120">
        <div class="container-fruid">
            <div class="main-content">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="owner-details">
                            <div class="profile-area">
                                
                                <div class="name-area">
                                    <h6>{{kyc.full_name|title}}</h6>
                                    {% if account.account_status == "in-active" %}
                                        <p class="active-stadtus text-danger">{{account.account_status|title}}</p>
                                    {% endif %}
                                    {% if profile.wallet.is_active  == True %}
                                        <p class="mdr strong">Wallet Status</p>
                                        <span class="mdr strong active-status">Active</span>
                                    {% endif %}
                                    {% if  profile.wallet.is_active == False %}
                                        <p class="actidve-status text-warning">In-Active</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="owner-info">
                                <ul>
                                    <li>
                                        <p>Wallet No:</p>
                                        <span class="mdr strong">{{profile.wallet.wallet_number}}</span>
                                    </li>
                                    
                                    <li>
                                        <p>Joined:</p>
                                        <span class="mdr"><small>{{profile.created_at|date:"d M, Y"}}</small></span>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="owner-action">
                                
                                {% if request.user.is_authenticated %}
                                    
                                
                                    
                                <a href="{% url 'users:sign-out' %}">
                                    <img src="{% static 'assets1/images/icon/logout.png' %}" alt="image">
                                    Logout
                                </a>
                                <a href="javascript:void(0)" class="delete">
                                    <img src="{% static 'assets1/images/icon/delete-2.png' %}" alt="image">
                                    Delete Account
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-8">
                        <div class="tab-main">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="account-tab" data-bs-toggle="tab"
                                        data-bs-target="#account" type="button" role="tab" aria-controls="account"
                                        aria-selected="true">Account</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="security-tab" data-bs-toggle="tab"
                                        data-bs-target="#security" type="button" role="tab" aria-controls="security"
                                        aria-selected="false">Security</button>
                                </li>
                                
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="notification-tab" data-bs-toggle="tab"
                                        data-bs-target="#notification" type="button" role="tab"
                                        aria-controls="notification" aria-selected="false">Notification</button>
                                </li>
                            </ul>
                            <div class="tab-content mt-40">
                                <div class="tab-pane fade show active" id="account" role="tabpanel"
                                    aria-labelledby="account-tab">
                                    <div class="upload-avatar">
                                        <div class="avatar-left d-flex align-items-center">
                                            
                                        </div>
                                        
                                    </div>
                                    <form action="#">
                                        <div class="row justify-content-center">
                                            <div class="col-md-4">
                                                <div class="single-input">
                                                    <label for="fName">First Name</label>
                                                    <input type="text" id="fName" readonly  value="{{profile.first_name|title}}">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="single-input">
                                                    <label for="lName">Last Name</label>
                                                    <input type="text" id="lName" readonly value="{{ profile.last_name|title }}">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="single-input">
                                                    <label for="email">Email</label>
                                                    <input type="text" id="email"readonly value="{{ profile.email }}">
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-4">
                                                <div class="single-input">
                                                    <label for="mobile">Mobile</label>
                                                    <input type="text" id="mobile" placeholder="Davis" value="{{ profile.phone_number }}">
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-4">
                                                <div class="single-input">
                                                    <label for="lName">Country</label>
                                                    <input type="text" id="country" readonly value="{{ profile.country|title }}">
                                                </div>
                                            </div>
                                           
                                         
                                          
                                            <div class="col-md-12">
                                                <div class="btn-border">
                                                    <button class="cmn-btn">Edit Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="security" role="tabpanel"
                                    aria-labelledby="security-tab">
                                    <div class="single-content authentication d-flex align-items-center justify-content-between">
                                        <div class="left">
                                          
                                        </div>
                                    </div>
                                    <div class="change-pass mb-40">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5>CashEx </h5>
                                                <p>You can always change your password for security reasons or reset your password in case you forgot it.</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <form action="#">
                                                    <div class="row justify-content-center">
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <label for="current-password">Current password</label>
                                                                <input type="text" id="current-password" placeholder="Current password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <label for="new-password">New password</label>
                                                                <input type="text" id="new-password" placeholder="New password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <label for="confirm-password">Confirm New password</label>
                                                                <input type="text" id="confirm-password" placeholder="Confirm New password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="btn-border w-100">
                                                                <button class="cmn-btn w-100">Update password</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    
                                </div>
                               
                                <div class="tab-pane fade" id="notification" role="tabpanel"
                                    aria-labelledby="notification-tab">

                                    <div class="notification-single">
                                        <h6>Announcements</h6>
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                                                 
                                    <div class="notification-single">
                                        <h6>Special Offers</h6>
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Dashboard Section end -->

<!-- My Card Popup start -->
    {% endblock content %}
